.pytest_cache/
.mypy_cache/
**.dtmp
__pycache__/

/dist/
/macrobond_data_api.egg-info/
/build/
/.vs/VSWorkspaceState.json
/docs/build/
macrobond_data_api/__version__.py
macrobond_data_api_python_env/
.env/
/htmlcov/

tests/_conftest.py
tests/py_test.lock

!/setup.py
/*.py
/*.ipynb